In [35]:
import pickle
import os

import pandas as pd
import numpy as np


folder_path_tsp = 'data/tsp'
folder_path_vrp = 'data/vrp'
# Configura o Pandas para exibir todas as linhas e colunas
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)

In [36]:
#teste
#/data
with open('tsp/tsp100_test_seed1234.pkl', 'rb') as f:
    data = pickle.load(f)

In [37]:
print('data ', len(data), type(data))
print('data[0]',len(data[0]), type(data[0]))
print('data[0][0]',len(data[0][0]), type(data[0][0]))
print('data[0][1]',len(data[0][1]) ,type(data[0][1]))
print('data[0][2]',len(data[0][2]), type(data[0][2]))

data  10000 <class 'list'>
data[0] 100 <class 'list'>
data[0][0] 2 <class 'list'>
data[0][1] 2 <class 'list'>
data[0][2] 2 <class 'list'>

In [38]:

data[0]

[[0.1915194503788923, 0.6221087710398319],
 [0.4377277390071145, 0.7853585837137692],
 [0.7799758081188035, 0.2725926052826416],
 [0.2764642551430967, 0.8018721775350193],
 [0.9581393536837052, 0.8759326347420947],
 [0.35781726995786667, 0.5009951255234587],
 [0.6834629351721363, 0.7127020269829002],
 [0.37025075479039493, 0.5611961860656249],
 [0.5030831653078097, 0.013768449590682241],
 [0.772826621612374, 0.8826411906361166],
 [0.3648859839013723, 0.6153961784334937],
 [0.07538124164297655, 0.3688240060019745],
 [0.9331401019825216, 0.6513781432265774],
 [0.3972025777261542, 0.7887301429407455],
 [0.31683612216887125, 0.5680986526260692],
 [0.8691273895612258, 0.43617342389567937],
 [0.8021476420801591, 0.14376682451456457],
 [0.7042609711183354, 0.7045813081895725],
 [0.21879210567408858, 0.924867628615565],
 [0.44214075540417663, 0.9093159589724725],
 [0.0598092227798519, 0.18428708381381365],
 [0.04735527880151513, 0.6748809435823302],
 [0.5946247799344488, 0.5333101629987506],
 [0.04332406269480349, 0.5614330800633979],
 [0.329668445620915, 0.5029668331126184],
 [0.11189431757440382, 0.6071937062184846],
 [0.5659446430505314, 0.00676406199000279],
 [0.617441708804297, 0.9121228864331543],
 [0.7905241330570334, 0.9920814661883615],
 [0.9588017621528665, 0.7919641352916398],
 [0.2852509600245098, 0.624916705305911],
 [0.47809379567067456, 0.19567517866589823],
 [0.38231745203150647, 0.05387368514623658],
 [0.45164840826085906, 0.9820047415219545],
 [0.12394270048696299, 0.1193808979262484],
 [0.7385230561433468, 0.5873036334639846],
 [0.4716325343203678, 0.1071268171938663],
 [0.22921856546061792, 0.8999651948366754],
 [0.4167535378026932, 0.5358516625316159],
 [0.006208516587129398, 0.30064170577030114],
 [0.4368931721756102, 0.6121489970657575],
 [0.9181980753805731, 0.6257366699625353],
 [0.7059975650817732, 0.14983371598992723],
 [0.7460634091367166, 0.8310069924335378],
 [0.6337257689509791, 0.4383098811224275],
 [0.15257277467450536, 0.5684096152471901],
 [0.5282242775850605, 0.9514287637535932],
 [0.4803591785100161, 0.5025595633825504],
 [0.5368781929244097, 0.8192020670641583],
 [0.05711563808885989, 0.6694217430745488],
 [0.7671166283794725, 0.7081153619776038],
 [0.7968671837251966, 0.5577608284274495],
 [0.9658365319921276, 0.14715689989299718],
 [0.02964700053541558, 0.5938934926247718],
 [0.11406569874266248, 0.9508098500841222],
 [0.32570741442534723, 0.1936186901537772],
 [0.45781164889742754, 0.9204025710930878],
 [0.8790691615146757, 0.2526157550465302],
 [0.34800879286934616, 0.18258873158030875],
 [0.9017960513709921, 0.7065281631717975],
 [0.7266584615621408, 0.9000878368097077],
 [0.7791638007693242, 0.5991547806042924],
 [0.29112524489787484, 0.15139526440743212],
 [0.3351746591494349, 0.6575517771578194],
 [0.07334254363261816, 0.05500639540622365],
 [0.32319481392117644, 0.5904818044629861],
 [0.8538985671256417, 0.287062425000009],
 [0.17306722681479214, 0.13402120599884282],
 [0.9946538286442945, 0.17949786946939184],
 [0.31754682302719583, 0.5682914046591072],
 [0.00934857450024451, 0.9006486211550919],
 [0.9772414309225871, 0.5568946791368349],
 [0.08477384339419014, 0.3330024657291001],
 [0.728428676369672, 0.14243537334181722],
 [0.5524689394975455, 0.2730432596836856],
 [0.9744951380872597, 0.6677869061450377],
 [0.25565328643413965, 0.10831149418272878],
 [0.7761807231738822, 0.782477992600202],
 [0.7616039143074941, 0.9144031132693238],
 [0.6586227819424226, 0.5683675815729324],
 [0.2017556924529783, 0.6982963755517612],
 [0.9521954098154773, 0.8899632871420051],
 [0.9935673628631737, 0.8187035102039255],
 [0.5451221661797199, 0.4512540549640983],
 [0.8905571879288573, 0.9732647911186689],
 [0.5934113295689697, 0.36607449772047085],
 [0.3230946929662495, 0.871423255048698],
 [0.21563406298839582, 0.7349451885621964],
 [0.3656190873671856, 0.8016025985027602],
 [0.7827355919753762, 0.701355379236693],
 [0.6227765866031991, 0.49368264574711207],
 [0.8405377001184887, 0.7120969869436473],
 [0.44390898141585244, 0.031034861133332647],
 [0.36323976019359805, 0.7307217914103388],
 [0.4755665730836416, 0.3444169701220027],
 [0.6408804349960188, 0.12620532161439946],
 [0.17146526096424974, 0.7370864936885216],
 [0.1270293935724024, 0.3696498749466268],
 [0.6043340048360264, 0.10310443885564724],
 [0.8023741823372101, 0.9455532358421244]]

In [39]:

positions1 = pd.DataFrame(data[0])
positions1

           0         1
0   0.191519  0.622109
1   0.437728  0.785359
2   0.779976  0.272593
3   0.276464  0.801872
4   0.958139  0.875933
..       ...       ...
95  0.640880  0.126205
96  0.171465  0.737086
97  0.127029  0.369650
98  0.604334  0.103104
99  0.802374  0.945553

[100 rows x 2 columns]

In [40]:
with open('tsp/tsp100_validation_seed4321.pkl', 'rb') as f:
    validation = pickle.load(f)

In [47]:

print('validation ', len(validation), type(validation))
print('validation[0]',len(validation[0]), type(validation[0]))
print('validation[0][0]',len(validation[0][0]), type(validation[0][0]))

validation  10000 <class 'list'>
validation[0] 100 <class 'list'>
validation[0][0] 2 <class 'list'>

In [48]:
solutions = pd.DataFrame(validation[0])
solutions

           0         1
0   0.070803  0.815064
1   0.767905  0.286355
2   0.193094  0.978912
3   0.406229  0.757768
4   0.089152  0.309883
..       ...       ...
95  0.453423  0.540140
96  0.280520  0.096864
97  0.315394  0.692482
98  0.439612  0.389610
99  0.738161  0.394906

[100 rows x 2 columns]

In [50]:
concatenated1 = pd.concat([positions1, solutions], axis=1)

concatenated1.columns = ['x1', 'y1', 'x2', 'y2']
concatenated1

          x1        y1        x2        y2
0   0.191519  0.622109  0.070803  0.815064
1   0.437728  0.785359  0.767905  0.286355
2   0.779976  0.272593  0.193094  0.978912
3   0.276464  0.801872  0.406229  0.757768
4   0.958139  0.875933  0.089152  0.309883
..       ...       ...       ...       ...
95  0.640880  0.126205  0.453423  0.540140
96  0.171465  0.737086  0.280520  0.096864
97  0.127029  0.369650  0.315394  0.692482
98  0.604334  0.103104  0.439612  0.389610
99  0.802374  0.945553  0.738161  0.394906

[100 rows x 4 columns]